/*
 *  Den 5.05.2022
 */

/* Allgemein*/
.stageBackground
{
    -fx-background-image: url('/static/img/blaugrund.png');
    -fx-background-size: cover;
}

.hyperlink {
    -fx-border-color: transparent;
    -fx-padding: 4 0 4 0;
    -fx-underline: false;
}

/* hover effekt für den Setting */
.settingAktiv
{
    -fx-background-color: #CCE0FF;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
}
.settingHover:hover
{
    -fx-background-color: #CCE0FF;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
}
/* hover effekt für den Button (Freunde-Chat click) */
.freundeAktiv
{
    -fx-background-color: #CCE0FF;
}



 /* home.fxml
 --------------*/
.homeFrom
{
    -fx-letter-spacing: 3em;
}

 /* maillogin.fxml,
 ------------------------*/
.login              {  }
.loginInfo          { /* Label für Information ausgeben: zurzeit nich benutzt */ }
.loginMail:focused
{
    -fx-background-color: #FFFFE6;
}

 /* mailregister.fxml
  ---------------------*/
.mailfehlerOK
{
    -fx-background-color: #E6FFE6;
    -fx-background-radius: 6;
    -fx-border-color: #009900;
    -fx-border-style: solid;
    -fx-border-radius: 6;
    -fx-padding: 10;
    /*-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 5.0, 5.0);*/
}
.mailfehlerNO
{
    -fx-background-color: #FFB3B3;
    -fx-background-radius: 6;
    -fx-border-color: #990000;
    -fx-border-style: solid;
    -fx-border-radius: 6;
    -fx-padding: 10;
}

 /* telefonlogin.fxml
  --------------------*/
.loginTelefon           {}
.loginTelefon:focused
{
    -fx-background-color: #FFFFE6;

}


 /* chatbox.fxml
 ---------------*/




 /* freunde.fxml
  ------------------*/
.chatfreundeanchorpane  { }
.chatfreundefoto        { }
.chatfreundepseudonym   { }
.chatfreundehacken      { }
.chatfreundedatum       { }
.chatfreundetext
{
    -fx-border-color: #CCCCCC;
    -fx-border-style: none none solid none;
    -fx-border-width: 0 0 1 0;
}

 /* Fragment: freundeleer.fxml
  ----------------------------*/
.freundeleer
{

}

 /* setting.fxml
  ----------------*/


 /* Kontakte.fxml
  ----------------*/
.kontaktehead
{
    /*-fx-letter-spacing: 10;
    -fx-graphic-text-gap: 6;*/
}




 /* ChatController.java (für Live message)
 -----------------------------------------*/

.livepane
{
    -fx-border-color: #E6E6FF;
    -fx-border-style: none none solid none;
}
.livebox            { }
.livemybox
{
    -fx-background-color: #E6FFE6;
    -fx-padding: 10 10 10 50;
    -fx-border-insets: 10 10 10 50;
    -fx-background-insets: 10 10 10 50;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}
.livefreundbox
{
    -fx-background-color: #FCFFFC;
    -fx-padding: 10 50 10 10;
    -fx-border-insets: 10 50 10 10;
    -fx-background-insets: 10 50 10 10;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-content-display: left;
}
.livebild           { }
.livepseudonym
{
    -fx-font: 15px "Serif";
    -fx-font-weight: bold;
}
.livehacken         { }
.livedatum
{
    -fx-font: 15px "Serif";
    -fx-font-weight: lighter;
}
.livedeletebutton   { }
.livedeletebox      { }
.liveradiobutton    { }
.livecloseradio     { }

/* ************ Ende Live message */



/*@media only screen and (min-width: 650px)  { .leftPane { -fx-background-color: red; } }*/

