/*
 *  Den 5.05.2022
 */

 /*
  *
  *"Rockwell", "Microsoft Sans Serif", "Courier", "Times", "Tahoma", "Sans-Serif", "Helvetica" "Courier New" = *schmall*

  * :link { color: #0000EE; }
  * :visited { color: #551A8B; }
  * Label: -fx-wrap-text: true;
  */

/* Allgemein*/
.stageBackground
{
    -fx-background-image: url('/static/img/blaugrund.png');
    -fx-background-size: cover;
}

.hyperlink {
    -fx-border-color: transparent;
    -fx-padding: 4 0 4 0;
    -fx-underline: false;
}

/* hover effekt für den Setting */
.settingAktiv
{
    -fx-background-color: #CCE0FF;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
}
.settingHover:hover
{
    -fx-background-color: #CCE0FF;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
}
/* hover effekt für den Button (Freunde-Chat click) */
.freundeAktiv
{
    -fx-background-color: #CCE0FF;
}

/* Input Feld border & background transparent */
.inputStyle
{
    -fx-background-color: transparent;
    -fx-border-color: #E6E6E6;
    -fx-border-width: 0 0 1 0;
    -fx-padding: 10;
    -fx-line-spacing: 3em;
}

.globalFehler
{
    -fx-background-color: #FFCCCC;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-padding: 15;
    -fx-border-insets: 5;
    -fx-background-insets: 5;
}


 /* home.fxml
 --------------*/
.homeFrom
{
    -fx-letter-spacing: 3em;
}

 /* maillogin.fxml,
 ------------------------*/
.login              {  }
.loginInfo          { /* Label für Information ausgeben: zurzeit nich benutzt */ }
.loginMail:focused
{
    -fx-background-color: #FFFFE6;
}

 /* mailregister.fxml
  ---------------------*/
.mailfehlerOK
{
    -fx-background-color: #E6FFE6;
    -fx-background-radius: 6;
    -fx-border-color: #009900;
    -fx-border-style: solid;
    -fx-border-radius: 6;
    -fx-padding: 10;
    /*-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 5.0, 5.0);*/
}
.mailfehlerNO
{
    -fx-background-color: #FFB3B3;
    -fx-background-radius: 6;
    -fx-border-color: #990000;
    -fx-border-style: solid;
    -fx-border-radius: 6;
    -fx-padding: 10;
}

 /* telefonlogin.fxml
  --------------------*/
.loginTelefon           {}
.loginTelefon:focused
{
    -fx-background-color: #FFFFE6;

}


 /* chatbox.fxml
 ---------------*/




 /* freunde.fxml
  ------------------*/
.freundeleer
{
    /* FreundeController/freundeLaden/else Zeile: 175*/
    -fx-background-color: #E6FFE6;
    -fx-background-radius: 25;
    -fx-border-color: #CCFFCC;
    -fx-border-width: 2px;
    -fx-border-radius: 25;
    -fx-padding: 15;
    -fx-border-insets: 20 5 0 5;
    -fx-background-insets: 20 5 0 5;
    -fx-font-size: 1.3em;
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
    -fx-cursor: none;
}

/* freundecell
_______________*/

/* zurzeit leer */


/* FreundeCellController
-------------------------*/
.cellText
{
    -fx-font-family: "Courier New";
    -fx-font-size: 1.0em;
    -fx-text-fill: #000080;
}
.cellAdresse
{
    -fx-font-family: "Courier New";
    -fx-font-size: 0.9em;
    -fx-text-fill: #808080;
    -fx-padding: 0 0 10 0;
}
.cellInfo
{
    -fx-font-size: 1.1em;
    -fx-text-fill: #FF8080;
}
.cellNein
{
    -fx-pref-width: 150;
    -fx-background-color: #CC2900;
    -fx-background-radius: 6;
    -fx-effect: dropshadow( three-pass-box, rgba(0, 0, 0, 0.4), 5, 0.0, 0, 1 );

    -fx-padding: 15 0 15 0;
    -fx-border-insets: 5;
    -fx-background-insets: 5;

    -fx-text-fill: #fff;
    -fx-font-size: 1.3em;
}
.cellJa
{
    -fx-pref-width: 150;
    -fx-background-color: #008020;
    -fx-background-radius: 6;
    -fx-effect: dropshadow( three-pass-box, rgba(0,0,0,0.4), 5, 0.0, 0, 1 );

    -fx-padding: 15 0 15 0;
    -fx-border-insets: 5;
    -fx-background-insets: 5;

    -fx-text-fill: #fff;
    -fx-font-size: 1.3em;
}

 /* message.fxml
 ----------------*/
 /* zurzeit leer */


 /* MessageController
 --------------------*/
        /* Header */
.headFreundsName
{
    -fx-font-family: "Courier New";
    -fx-font-size: 1.0em;
    -fx-font-weight: 700;
    -fx-text-fill: #000080;
}

        /* AltMessage ausgeben */
.altMessageHover
{
    -fx-background-color: #E6E6E6;
}

.altBildsLabel
{
    /* nicht ändern: nur für die rund aussehen, kein Text style, wird direkt geStylt  */
     -fx-background-color: transparent;
     -fx-background-radius: 15;
     -fx-border-color: transparent;
     -fx-border-radius: 15;
     -fx-min-width: 30;
     -fx-pref-width: 30;
     -fx-max-width: 30;
     -fx-min-height: 30;
     -fx-pref-height: 30;
     -fx-max-height: 30;
     -fx-alignment: center;
}

.altLinksVBox
{
    -fx-pref-width: 40;
    -fx-alignment: TOP_CENTER;
}

.altFreundsName
{
    -fx-font-family: "Courier New";
    -fx-font-size: 1.0em;
    -fx-font-weight: 700;
    -fx-text-fill: #000080;
}

.altMessagesZeit
{
    -fx-font-size: 0.9em;
    -fx-text-fill: #999;
}

.altMessagesBilder
{
  /*  -fx-border-color: #E6FFE6;
    -fx-border-width: 5;
    -fx-padding: 5;*/
}

.altTextsFlow
{

}

.altMittesVBox
{

}
    /* CheckBox */
.checksBox .box {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.checksBox:selected .mark {
    -fx-background-color: white;
}

.checksBox:selected .box {
    -fx-background-color: #28a3f4;
}


.altBordersPane
{
    -fx-padding: 10 5 10 0;
}

    /* separate Fenster, message bearbeiten(message: rechts oben die 3 blaue punkten '...') */
.messagesBearbeiten
{
    -fx-background-color: #FFF;
    -fx-background-radius: 6;
    -fx-border-color: transparent;
    -fx-border-radius: 6;
    -fx-padding: 10;
    -fx-pref-width: 250;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 15, 0, 0, 0);
}
.hypersLink
{
    -fx-font-size: 1.0em;
    -fx-text-fill: #000000;
    -fx-padding: 5;
}
.hypersLink:hover
{
   -fx-background-color: #F2F2F2;
}

    /* Separate Fenster Loschen */
.logoShadow
{
    -fx-effect: dropshadow(three-pass-box, rgb(26, 26, 26), 50, 0.6, 0, 0);
}

    /* Methode: löschenInfo */
.loschInfo
{
    -fx-background-color: #858585;
    -fx-border-color: #606060;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-padding: 10 20;
    -fx-font-size: 1.0em;
    -fx-text-fill: #FFF;
    -fx-alignment: center;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.7), 10, 0, 0, 0);
}

 /* setting.fxml
  ----------------*/


 /* Kontakte.fxml
  ----------------*/
.kontaktehead
{
    /*-fx-letter-spacing: 10;
    -fx-graphic-text-gap: 6;*/
}




 /* ??????? ChatController.java (für Live message)
 -----------------------------------------*/

.livepane
{
    -fx-border-color: #E6E6FF;
    -fx-border-style: none none solid none;
}
.livebox            { }
.livemybox
{
    -fx-background-color: #E6FFE6;
    -fx-padding: 10 10 10 50;
    -fx-border-insets: 10 10 10 50;
    -fx-background-insets: 10 10 10 50;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}
.livefreundbox
{
    -fx-background-color: #FCFFFC;
    -fx-padding: 10 50 10 10;
    -fx-border-insets: 10 50 10 10;
    -fx-background-insets: 10 50 10 10;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-content-display: left;
}
.livebild           { }
.livepseudonym
{
    -fx-font: 15px "Serif";
    -fx-font-weight: bold;
}
.livehacken         { }
.livedatum
{
    -fx-font: 15px "Serif";
    -fx-font-weight: lighter;
}
.livedeletebutton   { }
.livedeletebox      { }
.liveradiobutton    { }
.livecloseradio     { }

/* ************ Ende Live message */



/*@media only screen and (min-width: 650px)  { .leftPane { -fx-background-color: red; } }*/

